@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;700&display=swap");

body {
  background-color: white;
  font-family: "Montserrat", sans-serif !important;
}

.purple {
  color: #a06ffb;
  text-decoration: underline;
  margin-bottom: 20px;
}


.git {
  color: #3d3d3d;
  text-decoration: none;
  margin-bottom: 20px;
}